@model ContractMvcWeb.Models.archive

@{
    ViewBag.Title = "AddArchive";
}

<h2>添加 档案信息</h2>
@using(@Html.BeginForm("AddArchive","Archive")){
    @Html.HiddenFor(m=>m.archiveid)
    @Html.HiddenFor(m=>m.pageidx)
    <table>
        <tr>
            <td>@Html.LabelFor( m=>m.archiveno)</td>
            <td>@Html.TextBoxFor(m=>m.archiveno)</td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m=>m.archivename)
            </td>
            <td>
                @Html.TextBoxFor(m=>m.archivename)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m=>m.description)
            </td>
            <td>
                @Html.TextBoxFor(m=>m.description)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m=>m.introduction)
            </td>
            <td>
                @Html.TextBoxFor(m=>m.introduction)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m=>m.keywords)
            </td>
            <td>
                @Html.TextBoxFor(m=>m.keywords)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m=>m.maker)
            </td>
            <td>
                @Html.TextBoxFor(m=>m.maker)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m=>m.secretlevel)
            </td>
            <td>
                @Html.TextBoxFor(m=>m.secretlevel)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m=>m.onecategory)
            </td>
            <td>
                @Html.TextBoxFor(m=>m.onecategory)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m=>m.twocategory)
            </td>
            <td>
                @Html.TextBoxFor(m=>m.twocategory)
            </td>
        </tr>
        <tr>
            <td><button type="submit">添加</button></td>
        </tr>
    </table>
}
