@{
    ViewBag.Title = "ArchiveList";
}

@model ContractMvcWeb.Models.ArchivePage

<script type="text/javascript">
    function afterSuccess() {
        alert("upload success!");
    }
</script>


<h2>档案列表 @Html.ViewContext.ViewData["pageidx"] </h2>

@using (Ajax.BeginForm("UploadFile", "archivelist", new AjaxOptions() { HttpMethod = "post", OnSuccess = "afterSuccess" }, new { id = "file1", encType = "multipart/form-data" }))
{
    <input type="file" id="file1" name="file1"/>
    <input type="submit" id="btnfile" value="上传文件"/><br />
}

 @using (@Html.BeginForm("archivelist", "archive" , FormMethod.Get))
 {
     @Html.Hidden("pageidx",0);
     <Button type="submit">查询</Button>
 

<table>
    <tr>
        <td>archiveid</td>
        <td>archiveno</td>
        <td>archivename</td>
        <td>secrelevel</td>
        <td>maker</td>
        <td>createtime</td>
        <td>introduction</td>
        <td>onecategory</td>
        <td>twocategory</td>
        <td>keywords</td>
        <td>description</td>
    </tr>


  @foreach (ContractMvcWeb.Models.archive p in Model.ArchiveList)
        {
      <tr>
          <td>@p.archiveid</td>
          <td>@p.archiveno</td>
          <td>@p.archivename</td>
          <td>@p.secretlevel</td>
          <td>@p.maker</td>
          <td>@p.createtime</td>
          <td>@p.introduction</td>
          <td>@p.onecategory</td>
          <td>@p.twocategory</td>
          <td>@p.keywords</td>
          <td>@p.description</td>
          <td>@Html.ActionLink("edit", "editarchive", new{aid=p.archiveid,pageidx= ViewData["pageidx"].ToString() } ) </td>
          <td>@Html.ActionLink("delete", "deletearchive",  new  { id=p.archiveid } ) </td>
          </tr>
        }
</table>
     
 }

<table >
    @using (@Html.BeginForm())
    {
        //if( Model.totalPage <= 1 ) return ;
               
        for (int i = 0; i < Model.totalPage; i++)
        {
            if( i>= Model.pageIdx && i<= Model.pageIdx + 5 ){
                @Html.ActionLink(i.ToString(), "ArchiveList", new  { pageidx= i });
            }
            else if( i< Model.pageIdx )
            {
                @Html.ActionLink(i.ToString(), "ArchiveList", new{ pageidx=i }); 
            }
        }
    }
</table>

@Html.ActionLink("Add", "AddArchive", new { pageidx= Model.pageIdx })