@{
    ViewBag.Title = "修改密码";
}

@model ContractMvcWeb.Models.Beans.LocalPasswordModel  

<div class="content">
<h3>修改密码</h3>

@using(Html.BeginForm("ChangePassword","User")){
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    
    <table class="user_info_table">
        <tr>
                <td class="label_r">
                @Html.LabelFor(m=>m.OldPassword)
                </td>
                <td >
                 @Html.PasswordFor(m => m.OldPassword, new {@class= "text_input w190" })
                </td>
            </tr>
                <tr>
                    <td class="label_r">@Html.LabelFor(m=>m.NewPassword)</td>
                    <td>
                        @Html.PasswordFor(m => m.NewPassword, new {@class="text_input" })
                    </td>
                </tr>

             <tr>
                    <td class="label_r">@Html.LabelFor(m=>m.ConfirmPassword)</td>
                    <td>
                        @Html.PasswordFor(m => m.ConfirmPassword, new {@class="text_input" })
                    </td>
                </tr>

        <tr>
            <td class="label_r"></td>
            <td><input type="submit" value="确定" class="blue_btn button_90 mr20" /></td>
        </tr>

        </table>
    
}
   </div>
    
    